:root {

--primary-color: #d97652;
--secondary-color: #6E7346;
--background: #1C2621;
--primary-light : #f2f0d5;
--secondary-light: #bfbda3;
}



* { box-sizing: border-box; }
html,body { 
  height: 100%; 
  width: 100%; 
  background: var(--background);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
